[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = ">=2.26"
websocket-client = ">=1.2.3"
pyopenrec = {editable = true, path = "."}

[dev-packages]
autopep8 = "*"
flake8 = "*"
flake8-import-order = "*"
pysocks = ">=1.7.1"

[requires]
python_version = "3.8"

[scripts]
test = "python3 tests/main.py"
lint = "flake8 pyopenrec"
