[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = ">=2.30"
websocket-client = ">=1.6.0"
pyopenrec = {editable = true, path = "."}

[dev-packages]
black = "*"

[scripts]
test = "python3 tests/main.py"
lint = "black pyopenrec --line-length 100"
